/* Center the main container both horizontally and vertically */
body, html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Root container styling */
#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box; /* Ensures padding is included in width */
}

/* Ensure the navbar takes the full width */
nav {
  width: 100%;
}

/* Logo styling */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Keyframe for logo spin animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card styling */
.card {
  padding: 2em;
}

/* Read the Docs link styling */
.read-the-docs {
  color: #fbf1f1;
}

/* Container styling */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Auth toggle styling */
.auth-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.auth-toggle button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

.auth-toggle button.active {
  background-color: #007bff;
  color: white;
}

.auth-toggle button:not(:last-child) {
  border-right: none;
}

.auth-toggle button:hover {
  background-color: #007bff;
  color: white;
}
